#portret {
  justify-content: center;
  margin-top: 100px;
  max-height: max-content;
  border-radius: 50px;
}

#firstnote {
  margin-top: 100px;
}
.carousel-inner {
  justify-content: center;
  margin-top: 100px;
}

#mapa_siemanko {
  margin-bottom: 5px;
  border-radius: 20px;
  opacity: 0.7;
}

#mapa_enzym {
  margin-bottom: 5px;
  border-radius: 20px;
  opacity: 0.7;
}
#mapa_5element {
  margin-bottom: 5px;
  border-radius: 20px;
  opacity: 0.7;
}
header {
  background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t1.6435-9/120222874_3303162619779273_3955883640686645892_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_ohc=wN8PpMeqoDwAX9alKwI&tn=pCxLXlcXRS0jvHtg&_nc_ht=scontent-frt3-1.xx&oh=00_AT_tfY1OQ1ro7n5Goqh3Psy9_o8N4pRxxqcsd-vnbY8Slg&oe=62C09BD8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  opacity: 0.8;
}

#button_send {
  background-color: #dc3545;
  color: black;
  border-radius: 5px;
  border: black;
  font-weight: bold;
}

#about {
  background-color: #dc3545;
  color: black;
  border-radius: 5px;
  border: black;
  font-weight: bold;
}

#button_doswiadczenie {
  background-color: #dc3545;
  color: black;
  border-radius: 5px;
  border: black;
  font-weight: bold;
}

#zawody {
  height: 750px;
  width: 600px;
  border-radius: 20px;
}
